/* Background */
.app-2rEoOp,
.bg-h5JY_x,
.scroller-2FKFPG,
.chatContent-a9vAAp,
.scroller-2TZvBN,
.scroller-1JbKMe,
.wrapper-1Rf91z,
.scroller-2TZvBN,
.sidebar-2K8pFh,
.privateChannels-1nO12o,
.scroller-1JbKMe,
.panels-j1Uci_,
.chat-3bRxxu,
.container-1r6BKw.themed-ANHk51,
.scroller-2wx7Hm,
.container-PNkimc,
.sidebarRegion-VFTUkN {
    background-color: transparent;
}

.appMount-3lHmkl {
    background-color: #000;
  }
  
  .appMount-3lHmkl:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("https://imgur.com/RqKhkzn.jpg");
    background-size: cover;
    pointer-events: none;
    -webkit-filter: blur(3px);
            filter: blur(3px);
  }
  

.form-2fGMdU:before {
    display: none;
}

/* Messages */

.groupStart-23k01U {
    background-color: rgba(0, 0, 0, 0.349);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.groupStart-23k01U ~ .wrapper-2a6GCs {
    background-color: rgba(0, 0, 0, 0.349);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



/*TITLE SECTION*/
.wordmark-2iDDfm {
    width: auto;
    height: 22px;
    padding: 0 0 0 5px;
    line-height: 22px;
    font-size: 0.925em;
    color: #fff;
    text-transform: uppercase;
    opacity: 0.75; 
}

.wordmark-2iDDfm:before{
  position: relative;
  width: auto;
  height: 22px; 
}

.wordmark-2iDDfm:before {
  content: "Everlasting";
  font-weight: 700; 
}

.wordmark-2iDDfm svg {
  display: none; 
}

/*.winButton-iRh8-Z {
    color: rgb(0, 225, 255);
}*/

/* Profile Tab */
/* MUTE */
.button-14-BFJ[aria-checked="false"] path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V21H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1ZM12 4C11.2 4 11 4.66667 11 5V11C11 11.3333 11.2 12 12 12C12.8 12 13 11.3333 13 11V5C13 4.66667 12.8 4 12 4Z"]  {
    d: path("M9 15c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4zm6.47-7.23c.32.79.32 1.67 0 2.46-.19.47-.11 1 .25 1.36l.03.03c.58.58 1.57.46 1.95-.27.76-1.45.76-3.15-.02-4.66-.38-.74-1.38-.88-1.97-.29l-.01.01c-.34.35-.42.89-.23 1.36zm3.71-4.88c-.4.4-.46 1.02-.13 1.48 1.97 2.74 1.96 6.41-.03 9.25-.32.45-.25 1.07.14 1.46l.03.03c.49.49 1.32.45 1.74-.1 2.75-3.54 2.76-8.37 0-12.02-.42-.55-1.26-.59-1.75-.1z") !important
}

.button-14-BFJ[aria-checked="false"] path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z"] {
    d: path("M5,9a4,4 0 1,0 8,0a4,4 0 1,0 -8,0") !important;
}

.button-14-BFJ path[d="M6.7 11H5C5 12.19 5.34 13.3 5.9 14.28L7.13 13.05C6.86 12.43 6.7 11.74 6.7 11Z"]  {
    d: path("M9 15c-2.67 0-8 1.34-8 4v1c0 .55.45 1 1 1h14c.55 0 1-.45 1-1v-1c0-2.66-5.33-4-8-4zm6.47-7.23c.32.79.32 1.67 0 2.46-.19.47-.11 1 .25 1.36l.03.03c.58.58 1.57.46 1.95-.27.76-1.45.76-3.15-.02-4.66-.38-.74-1.38-.88-1.97-.29l-.01.01c-.34.35-.42.89-.23 1.36zm3.71-4.88c-.4.4-.46 1.02-.13 1.48 1.97 2.74 1.96 6.41-.03 9.25-.32.45-.25 1.07.14 1.46l.03.03c.49.49 1.32.45 1.74-.1 2.75-3.54 2.76-8.37 0-12.02-.42-.55-1.26-.59-1.75-.1z") !important;
    color: rgb(233, 61, 61);
}

.button-14-BFJ path[d="M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z"] {
    d: path("M5,9a4,4 0 1,0 8,0a4,4 0 1,0 -8,0") !important;
    color: rgb(233, 61, 61);
}

.button-14-BFJ path[d="M9.01 11.085C9.015 11.1125 9.02 11.14 9.02 11.17L15 5.18V5C15 3.34 13.66 2 12 2C10.34 2 9 3.34 9 5V11C9 11.03 9.005 11.0575 9.01 11.085Z"] ~ path {
    display: none;
}

/* DEAFEN */
.button-14-BFJ[aria-checked="false"] path[d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"]  {
    d: path("M3 10v4c0 .55.45 1 1 1h3l3.29 3.29c.63.63 1.71.18 1.71-.71V6.41c0-.89-1.08-1.34-1.71-.71L7 9H4c-.55 0-1 .45-1 1zm13.5 2c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 4.45v.2c0 .38.25.71.6.85C17.18 6.53 19 9.06 19 12s-1.82 5.47-4.4 6.5c-.36.14-.6.47-.6.85v.2c0 .63.63 1.07 1.21.85C18.6 19.11 21 15.84 21 12s-2.4-7.11-5.79-8.4c-.58-.23-1.21.22-1.21.85z") !important
}

.button-14-BFJ[aria-checked="false"] path[d="M14.99 11C14.99 12.66 13.66 14 12 14C10.34 14 9 12.66 9 11V5C9 3.34 10.34 2 12 2C13.66 2 15 3.34 15 5L14.99 11ZM12 16.1C14.76 16.1 17.3 14 17.3 11H19C19 14.42 16.28 17.24 13 17.72V22H11V17.72C7.72 17.23 5 14.41 5 11H6.7C6.7 14 9.24 16.1 12 16.1Z"] {
    d: path("M5,9a4,4 0 1,0 8,0a4,4 0 1,0 -8,0") !important;
}

.button-14-BFJ path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"]  {
    d: path("M7 10v4c0 .55.45 1 1 1h3l3.29 3.29c.63.63 1.71.18 1.71-.71V6.41c0-.89-1.08-1.34-1.71-.71L11 9H8c-.55 0-1 .45-1 1z") !important;
    color: rgb(233, 61, 61);
}
.button-14-BFJ path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"] ~ path {
    display: none;
}
